name: Validate Docs

on:
  pull_request:
    branches: [main, dev]
  push:
    branches: [main, dev]

jobs:
  scan-secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Scan for secrets
        run: bash checks/scan_secrets.sh
